* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #002b57;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    color: #fff;
}

.titulo {
    font-size: 50px;
    color: #0073E6;
    text-align: center;
}

.nova-tarefa {
    font-size: 20px;
}

#adicionar-tarefa {
    flex: 1;
    height: 30px;
    border: 2px solid #CCF7FF;
    background-color: #333;
    color: #fff;
    padding: 0 8px;
}

#botao-adicionar {
    height: 35px;
    padding: 0 15px;
    border: 2px solid #CCF7FF;
    background-color: #333;
    color: #fff;
}
